{
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "globals": {
    "test": true,
    "expect": true,
    "describe": true,
    "beforeAll": true,
    "beforeEach": true,
    "process": true,
    "afterAll": true
  },
  "rules": {
    "indent": [
      "off",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "semi": [
      "error",
      "never"
    ],
    "eqeqeq": "error",
    "no-trailing-spaces": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "no-console": 0,
    "jsx-a11y/accessible-emoji": "off"
  }
}